.button-p {
    background-color: var(--color-1b);
    transition: all 0.5s ease-out;
    -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.5);
    color: var(--color-4a);
  }
  
.button-p:hover {
    background-color: var(--color-1a);
    color: var(--color-0a);
  }


.button {
    margin: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    padding: 22px 24px;
    font-size: 16px;
    letter-spacing: .15rem;
    
    
}

.button-pets {
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 12px;
    
}

.button-yellow {
    background-color: #FFD54F;
}

.button-white {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}