:root {
    --color-0a: #ffff;
    --color-0b: #fcfcfc;
    --color-0c: #ffffffe8;
    --color-1a : #33743c;
    --color-1b: #b0cab1;
    --color-2a: #94867d;
    --color-3a: #eecca7;
    --color-3b: linear-gradient(133deg, rgba(255,255,255,1) 12%, rgba(238,204,167,1) 100%);
    --color-4a: #121212;
    
}