
.header-grid {
  display: grid;
  height: 100vh;
}



.header-grid picture {
  object-fit: contain;
  object-position: left top;
  height: 100%;
}

.header-grid figcaption {
  display: none;
}

.content-header {
    
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 40px;
    color: #ffff;
    color: var(--color-2a);
    }

    .custom-shape-divider-bottom-1686384412 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .custom-shape-divider-bottom-1686384412 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 144px;
      transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1686384412 .shape-fill {
      fill: #FFFFFF;
  }

  .chamada {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bg-header-home {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 12%, rgba(238,204,167,1) 100%);
}

.bg-header-pets {
  background-image: url("../img/nossos-pets/header-nossospets.jpg");
}



@media only screen and (max-width:480px) {
  .header-grid {
    grid-template-columns: 1fr;
  }
  .content-header {
    
    justify-content: center;
  }
  .header-img {
    display: none;
  }

}
  
@media only screen and (min-width:481px) {
  .header-grid {
    grid-template-columns: 1fr;
  }
  .content-header {
    padding-top: 120px;
    justify-content: end;
  }
  .header-img {
    display: grid;
    justify-content: center;
    margin: 0 auto;
  
    height: calc(fit-content - 125px);
  }


  }




@media only screen and (min-width:769px) {
  .header-grid {
    grid-template-columns: 1fr 1fr;
  }
  .content-header {
    justify-content: center;
  }
  .header-img {
    display: grid;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (min-width:1024px) {
  

}

@media only screen and (min-width:1201px) {


}
