.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.header-grid img {
  height: 100%;
  
}

.header-grid figcaption {
  display: none;
  object-fit: cover;
}

.content-header {
    
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 40px;
    color: #ffff;
    color: var(--color-2a);
    }

    .custom-shape-divider-bottom-1686384412 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .custom-shape-divider-bottom-1686384412 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 144px;
      transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1686384412 .shape-fill {
      fill: #FFFFFF;
  }

  .chamada {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bg-header-home {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 12%, rgba(238,204,167,1) 100%);
}

.bg-header-pets {
  background-image: url("../img/nossos-pets/header-nossospets.jpg");
}
/*
@media only screen and (max-widht:480) {
  .bg-header-home {
    background-image: url(../img/home/bg-header-480x320.webp);
  }
}
  
@media only screen and (min-width:481px) {
  
    .bg-header-home {
      background-image: url(../img/home/bg-header-768x481.webp);
    }

}

@media only screen and (min-width:769px) {
    .bg-header-home {
      background-image: url(../img/home/bg-header-1023x682.webp);
    }

}

@media only screen and (min-width:1024px) {
    .bg-header-home {
      background-image: url(../img/home/bg-header-1200x800.webp);
    }

}

@media only screen and (min-width:1201px) {
  .bg-header-home {
    background-image: url(../img/home/bg-header-2000x1333.webp);
  }

}
*/