header {
  position: relative;
}

.custom-shape-divider-bottom-1683895616 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1683895616 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-1683895616 .shape-fill {
  fill: #FFD54F;
}


.content-header {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    color: #ffff;
    
    height: 65vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    }

.bg-header-home {
  background-image: url("../img/home/large-cabecalho-home.webp");
}

.bg-header-pets {
  background-image: url("../img/nossos-pets/header-nossospets.jpg");
  height: 50vh;
}
  
    .content-header * {
      padding: 14px 8px;
    }