.section {
    padding: 60px 20px;
}

.section *{
    padding: 10px 0;
}

.container-icons {
    position: relative;
    
}

.icons-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -130%);
    

}


.icon-header {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: var(--color-0a);
    border-radius: 8px;
    -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.22);
    
}

.icon-header:hover {
    background-color: var(--color-1b);
    opacity: 0.9;
}

.icon-header img {
    margin: 0 auto;
    padding-bottom: 20px;
    min-width: 32px;
    height: auto;
}


/*Carousel Nossos Pets */ 
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}



* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  max-height: 100%;
  
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: fit-content;
  background-color: var(--color-0b);
  counter-increment: item;
}



.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #ffffff00;
  font-size: 2em;
  
}

#carousel__slide1 {
  background: url(../img/home/carousel-pets/beethoven.jpg) no-repeat center; 
  
  
}

#carousel__slide2 {
  background: url(../img/home/carousel-pets/docinho.jpg) no-repeat center;
}

#carousel__slide3 {
  background: url(../img/home/carousel-pets/jade.jpg) no-repeat center;
}

#carousel__slide4 {
  background: url(../img/home/carousel-pets/lilo.jpg) no-repeat center;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 1rem;
  
}

.carousel::after,
.carousel__next {
  right: 1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* Fim da galeria */
.pets {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    
    height: fit-content;
    max-height: 100vh;
    text-align: center;
    background-color: var(--color-0b);
}





.pets-cards{
    padding: 40px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
}

.pet-card {
    background-color: #FFFF;

}

.pet-card img {
    object-fit: cover;
}

.pet-card h3, .pet-card p {
    padding: 14px 8px;
}

.objetivo {
    background-color: #FFD54F;
    text-align: center;
}

.objetivo img {
    display: block;
    margin: 0 auto;
}



.finaisfelizes {
    background-color: linear-gradient(133deg, rgba(255,255,255,1) 12%, rgba(51,116,60,1) 100%);
    text-align: center;
}

.finaisfelizes p {
    
    text-align: left;
    padding: 0px 8px;
}

.finaisfelizes img {
    width: 100%;
    object-fit: cover;
    padding: 0;
    max-width: 316.59px;
    max-height: 316.59px;
}

.finaisfelizes-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.finaisfelizes-card {
    max-width: 351.75px;
    padding: 0px 14px;
}

.video {
    text-align: center;
    background-color: #FFD54F;
}

.local {
    background-color: #F5F2F0;
}

.local h2 {
    text-align: center;
}

.local-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 20px;
}

.localizacao {
    grid-column: 2;
    grid-row: 2/4;
}

.presenca {
    text-align: center;
    background-color: #FFD54F;
}

@media only screen and (max-width:774px){
   
}


@media only screen and (max-width:800px) {
    .pets-cards{
    grid-template-columns: 1fr;
    }
    .local-content {
        display: inline-block;
    }

    .localizacao {
        min-height: 384px;
    }

    .local-content img, .localizacao {
        margin: 0 auto;
    }



    .content-header {
     height: fit-content;    
    }

    }

    @media only screen and (max-width:1049px) {
       
        
        .icons-flex {
            display: none;
            
        }

      .content-header {
        padding-top: 150px;    
       }
        
      }

   @media only screen and  (max-width: 1200px) {
        /*
       */
        
    }
        
    